/**/*.md5
/**/*.orig
/**/*.pyc
/**/*.pyo
/**/*.swp
/**/*~
/**/.coverage
/**/.DS_Store
/**/.python-version
/**/.zcompdump
/**/.zcompdump.zwc
/**/.zhistory
/**/npm-debug.log
/*.egg-info/
/.eggs/
/.env
/.idea/
/.tox/
/bower_components/
/dist/
/docker-compose.override.yml
/node_modules/
